.searchcomponent{
    *{
        box-sizing: border-box;
    }
    margin:20px auto;
    display: flex;
    
    //min-width: 400px;
    width: 100%;
    align-items: center;
    .text{
        width: 70%;
        input{
            width: 100%;
            border:none;
            padding:10px;
            outline: none;
            font-size: 15px;
            box-shadow: 0px 0px 2px 0px #c3bfbf;
        }
    }
    .button{
        width: 30%;
        .search{
            padding:10px;
            box-shadow: 0px 0px 2px 0px #c3bfbf;
            font-size: 13px;
            color:#646262;
            cursor: pointer;
            width: 80%;
            margin:0 auto;
            text-align: center;
        }
    }
}